.about {
  @media screen and (max-width: 767px) {
    padding: 50px 16px;
    padding-bottom: 30px;
    background: #f0f8f6;
  }
  @media screen and (min-width: 768px) {
    padding: 100px 0 44px 0;
    background-color: #f0f8f6;
  }
  position: relative;
}

.about__img__wave {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.about__container--flex {
  @media screen and (max-width: 767px) {
    display: block;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.about__text-one {
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 20px;
    color: #01a3a4;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    color: #01a3a4;
    margin-left: 68px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.5px;
    text-transform: uppercase;
  }
}

.about__container--absolut {
  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 2;
  }
}

.about__text--h2 {
  @media screen and (max-width: 767px) {
    color: #000;
    text-align: center;
    font-family: Advent Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    font-family: Bebas Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 62px;
  }
  position: relative;
}

.about__text--h2::after {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    content: '';
    display: block;
    background: url(../../src/images/main/it_work/line_2.png);
    width: 52px;
    height: 8px;
    position: absolute;
    top: 25px;
    left: -69px;
  }
}
.about__img__box {
  @media screen and (max-width: 767px) {
    margin-top: 25px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.about__img__box--leptop {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1023px) {
    width: 768px;
    margin-top: -352px;
    margin-left: -10px;
  }
  @media screen and (min-width: 1024px) {
    width: 720px;
    margin-top: -239px;
    margin-left: -20px;
  }
}

.about__text--h3 {
  @media screen and (max-width: 767px) {
    color: #212121;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.about__text--h3-span {
  @media screen and (max-width: 767px) {
    color: #01a3a4;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    color: #01a3a4;
    font-family: Bebas Neue;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }
}

.about__text--h3--leptop {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    color: #212121;

    font-family: Bebas Neue;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    width: 800px;
  }

  @media screen and (min-width: 1024px) {
    color: #212121;

    font-family: Bebas Neue;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    width: 1220px;
  }
}

.about__text--h3-span--leptop {
  @media screen and (min-width: 768px) {
    color: #01a3a4;
    font-family: Bebas Neue;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }
}

.about__input {
  @media screen and (max-width: 767px) {
    max-width: 288px;
    width: 100%;
    height: 60px;
    background-color: white;
    color: #c4c4c4;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 2px solid #01a3a4;
    outline: none;
    margin-top: 10px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    width: 595px;
    height: 100px;

    border-radius: 0px 50px 50px 0px;
    background-color: #fff;

    color: #c4c4c4;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    outline: none;
    border: none;
    padding-left: 30px;
    z-index: 100;
  }
}

.about___button {
  @media screen and (max-width: 767px) {
    max-width: 12rem;
    width: 100%;
    height: 2.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #01a3a4;
    border-radius: 2.08rem;
    font-family: Bebas Neue;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    width: 280px;
    height: 70px;
    background-color: #01a3a4;
    color: #fff;

    text-align: center;
    font-family: Bebas Neue;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 15px;
    right: 12px;
  }
  &:hover,
  &:focus {
    transform: scale(0.8);
    transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.about__text--button {
  @media screen and (max-width: 767px) {
    color: #c4c4c4;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    color: #c4c4c4;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    width: 595px;
  }
}

.about__img__monsterra {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: -70px;
    left: -150px;
    z-index: -1;
  }
}
