.box {
  @media screen and (max-width: 666px) {
    padding: 50px 0;
    padding-bottom: 26px;
    background: #f0f8f6;
    text-align: center;
  }
  @media screen and (min-width: 667px) {
    padding: 100px 0;
  }
  background: #f0f8f6;
}

.box__container--flex {
  @media screen and (min-width: 667px) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.box__container__flex--colum {
  @media screen and (min-width: 667px) {
    margin-left: 49px;
  }
  position: relative;
}
.box__img {
  @media screen and (max-width: 666px) {
    text-align: center;
    display: inline-block;
  }
  @media screen and (min-width: 667px) {
    position: absolute;
    top: 24px;
    left: 20px;
  }
}

.box__title {
  @media screen and (max-width: 666px) {
    color: #000;
    font-family: Advent Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0;
  }
  @media screen and (min-width: 667px) {
    color: #000;
    font-family: Bebas Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 116px;
  }
  position: relative;
}

.box__text {
  @media screen and (max-width: 666px) {
    color: #696969;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 667px) {
    width: 400px;
    font-size: 16px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 520px;
    margin: 30px 0;
    color: #696969;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
.box__button {
  @media screen and (max-width: 666px) {
    display: none;
  }
  @media screen and (min-width: 667px) {
    width: 280px;
    height: 70px;
    background: #01a3a4;
    border-radius: 50px;

    color: #fff;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
  }
}

.box__container__img {
  @media screen and (max-width: 666px) {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 667px) {
    display: flex;
  }
}

.box__img_1 {
  @media screen and (max-width: 666px) {
    max-width: 184px;
    width: 100%;
  }
  @media screen and (min-width: 667px) {
    width: 130px;
    margin-right: 12px;
  }
  @media screen and (min-width: 1024px) {
    width: 354px;
    margin-right: 12px;
  }
}

.box__img_2 {
  @media screen and (max-width: 666px) {
    width: 100%;
    width: 184px;
  }

  @media screen and (min-width: 667px) {
    width: 130px;
  }
  @media screen and (min-width: 1024px) {
    width: 354px;
    margin-right: 10px;
  }
}
.box__button--mob {
  @media screen and (max-width: 666px) {
    max-width: 288px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background: #01a3a4;

    color: #fff;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
  }

  @media screen and (min-width: 667px) {
    display: none;
  }
}
