.customers {
  @media screen and (max-width: 666px) {
    padding: 50px 16px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
}

.customers__container--flex {
  @media screen and (max-width: 666px) {
    display: flex;
    margin-bottom: 10px;
  }
}

.customers__title {
  @media screen and (max-width: 666px) {
    color: #01a3a4;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}
.customers__title__cl {
  @media screen and (max-width: 666px) {
    font-family: Advent Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 34px;
  }
}
.customers__avatars {
  @media screen and (max-width: 666px) {
    border-radius: 50%;
  }
}
.container__customers__stars {
  @media screen and (max-width: 666px) {
    margin-left: 10px;
  }
}

.container__customers__stars--img {
  @media screen and (max-width: 666px) {
    margin-top: 7px;
  }
}

.customers__about {
  @media screen and (max-width: 666px) {
    color: #696969;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    height: 218px;
    overflow-y: scroll;
  }
}
.customers__about--span {
  @media screen and (max-width: 666px) {
    margin-top: 7px;
    color: red;
  }
}
