.customers {
  @media screen and (max-width: 767px) {
    padding: 50px 16px;
    padding-bottom: 30px;
    margin: 0 auto;
    z-index: 1;
  }
  @media screen and (min-width: 768px) {
    padding: 100px 0 118px 0;
  }
  position: relative;
}

.customers__container--flex {
  @media screen and (max-width: 767px) {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}
.wrapper__carusel {
  @media screen and (min-width: 768px) {
    max-width: 1300px;
  }
}

.wraper__img--avatar {
  @media screen and (max-width: 767px) {
    width: 62px;
  }
  @media screen and (min-width: 768px) {
    width: 668px;
  }
}

.customers__title {
  @media screen and (max-width: 767px) {
    color: #01a3a4;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    color: #01a3a4;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.5px;
    text-transform: uppercase;
  }
}

.customers__title__cl {
  @media screen and (max-width: 767px) {
    font-family: Advent Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 34px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    font-family: Bebas Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.customers__avatars--leptop {
  @media screen and (max-width: 767px) {
    max-width: 62px;
    max-height: 68px;

    display: block;
    border-radius: 50%;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    margin-top: 50px;
    object-fit: cover;
  }
  z-index: 10;
}

.container__customers__stars {
  @media screen and (max-width: 767px) {
    margin-left: 10px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    margin-top: 96px;
    width: 620px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  position: relative;
}

.container__customers__stars--img {
  @media screen and (max-width: 767px) {
    margin-top: 7px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 100px;
  }
  position: relative;
}

.customer__text__lorem {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-top: 85px;
    width: 565px;
    height: 281px;
    color: #696969;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    overflow-y: scroll;
  }
}

.customer__text__lorem--span {
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    display: block;
  }
}

.start__text {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 32px;
    right: -26px;
  }
  @media screen and (min-width: 768px) {
    right: 68px;
    top: 1px;
  }
  color: #e5e5e5;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  position: absolute;
}

.customers__about {
  @media screen and (max-width: 767px) {
    color: #696969;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    height: 218px;
    overflow-y: scroll;
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.customers__about--span {
  @media screen and (max-width: 767px) {
    margin-top: 7px;
  }
}

.customers__list__decor {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 546px;
    margin-top: 40px;
    display: flex;
  }
}

.customers__item__decor {
  @media screen and (max-width: 767px) {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background-color: #f0f8f6;
    margin-top: 34px;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    background-color: #f0f8f6;
    margin-top: 34px;
    cursor: pointer;
  }
}

.customers__item__decor--span {
  @media screen and (max-width: 767px) {
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    background-color: #74e7d0;
    margin: 4px 4px;
  }
  @media screen and (min-width: 768px) {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    background-color: #74e7d0;
    margin: 4px 4px;
  }
}

.customers__item__decor--svg {
  @media screen and (max-width: 767px) {
    fill: #fff;
    margin: 6px 6px;
  }
  @media screen and (min-width: 768px) {
    fill: #fff;
    margin: 10px 10px;
    width: 16px;
    height: 16px;
  }
}

.customer__img__wave {
  @media screen and (max-width: 767px) {
    margin-top: 25px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 88px;
    left: 0;
    width: 60px;
  }
}
