.footer {
  @media screen and (max-width: 767px) {
    padding: 31px 10px;
    padding-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
  }
  padding: 0;
}

.container__footer--flex--lep {
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #f0f8f6;
    border-bottom: 2px solid #f0f8f6;
  }
}

.footer__logo {
  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    order: 2;
    width: 95px;
  }
}

.footer__list__link {
  @media screen and (max-width: 767px) {
    margin: 30px 0;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    order: 1;
    gap: 10px;
  }
}

.footer__link {
  @media screen and (max-width: 767px) {
    color: #212121;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  @media screen and (min-width: 768px) {
    color: #212121;
    font-family: Bebas Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
  }
}

.footer__item__link {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
  }
}
.footer__item__link:last-child {
  margin-bottom: 0;
}
.social__item {
  @media screen and (max-width: 767px) {
    display: block;
    border: 1px solid #01a3a4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    margin-left: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
    border: 1px solid #01a3a4;
    display: block;
    border-radius: 50%;
    padding-left: 8px;
    padding-top: 8px;
  }
}

.social__item:first-child {
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}
.social__list {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    order: 3;
    gap: 20px;
  }
}

.social__link {
  @media screen and (max-width: 767px) {
  }
  fill: #01a3a4;
}

.footer__decor--line::before {
  @media screen and (max-width: 767px) {
    width: 288px;
    height: 1px;
    background: #f0f8f6;
    display: block;
    margin-bottom: 20px;
  }
}

.footer__decor--line {
  @media screen and (max-width: 767px) {
    width: 288px;
    height: 1px;
    background: #f0f8f6;
    display: block;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
}

.footer__decor__text {
  @media screen and (max-width: 767px) {
    color: #696969;
    text-align: right;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.footer__list__decor {
  @media screen and (max-width: 767px) {
    display: flex;
    margin-top: 16px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    color: #696969;
    gap: 850px;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    align-items: center;
  }
}
.footer__svg {
  @media screen and (max-width: 767px) {
    margin-left: 5px;
    margin-top: 10px;
  }
  @media screen and (min-width: 768px) {
  }
}

.tex--left-auto {
  @media screen and (min-width: 768px) {
  }
}

.footer__decor__text--margin {
  @media screen and (max-width: 767px) {
    margin-right: 10px;
  }
}

.display__none {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
