.header {
  @media screen and (max-width: 767px) {
    padding: 0.21rem 0.66rem;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 2;
  }
  @media screen and (min-width: 768px) {
    padding: 20px 0;
  }
}

.heder__logo--mobile {
  @media screen and (max-width: 767px) {
    max-width: 96px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__logo--leptop {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 191px;
    display: block;
    cursor: pointer;
  }
}

.wrapper {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__link_list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
  }
}

.nav__item__link {
  @media screen and (min-width: 768px) {
    color: #212121;
    font-family: Bebas Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    display: block;
  }
}

.header__link_item--hover {
  @media screen and (min-width: 768px) {
    width: 100px;
    display: block;
  }
}
.header__link_item {
  @media screen and (min-width: 768px) {
    gap: 100px;
    padding: 4px;
    display: block;
  }
}

.header__link_item:hover
  .nav__item__link
  .header__link_item:focus
  .nav__item__link {
  color: #01a3a4;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link_item:hover.header__link_item::after,
.header__link_item:focus.header__link_item::after {
  width: 100%;
  height: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link_item:nth-child(1):hover.header__link_item::after,
.header__link_item:nth-child(1):focus.header__link_item::after {
  width: 0;
  height: 0;
}

.header__link_item::after {
  width: 0;
  background-color: #01a3a4;
  display: block;
  content: '';
  padding-top: 3px;
}

.burger__menu {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 17px;
    height: 18px;
    right: 16px;
    top: 20px;
    cursor: pointer;
  }
}

.burger__item {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 2px;
    background-color: #34495e;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.burger__item::after,
.burger__item::before {
  @media screen and (max-width: 767px) {
    content: '';
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: #34495e;
    transition: 0.5s all;
  }
}

.burger__item::before {
  @media screen and (max-width: 767px) {
    top: -4px;
  }
}
.burger__item::after {
  @media screen and (max-width: 767px) {
    top: 4px;
  }
}

.header__menu {
  @media screen and (max-width: 767px) {
    background-color: #f0f8f6;
    position: fixed;
    width: 300px;
    height: 100%;
    // display: none;
    top: 59px;
    right: 0;
    z-index: 200;
    padding: 54px 0;
    margin: 0 auto;
    transform: translateY(0px);
    transition: 0.7s all;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.nav__list {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.nav__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 55px;
  }
}

.nav__item:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.header__link {
  @media screen and (max-width: 767px) {
    color: #212121;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
  }
}

.is-open {
  display: none;
  transform: translateY(-800px);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
