.it__work {
  @media screen and (max-width: 767px) {
    padding: 50px 22px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
}

.it__work__title {
  @media screen and (max-width: 767px) {
    color: #000;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Advent Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    font-family: Bebas Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 19px;
  }
}

.it_work__img {
  @media screen and (max-width: 767px) {
    margin: 30px 0;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
.it_work__list {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

.it_work__item {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.it__work__text {
  @media screen and (max-width: 767px) {
    color: #000;
    font-family: Advent Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
  }
  @media screen and (min-width: 768px) {
    color: #000;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }
}

.it__work__img--line {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.it__work__text__about {
  @media screen and (max-width: 767px) {
    color: #696969;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    margin-top: 8px;
    margin-bottom: 30px;
    max-width: 288px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    color: #696969;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 282px;
    width: 100%;
  }
}

.it__work__text__about::after {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: -34px;
    left: 20px;
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    background: var(--1, linear-gradient(141deg, #74e6cf 0%, #c0e594 100%));
  }
}

.it__work__text__about::before {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: -34px;
    right: 20px;
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    background: var(--1, linear-gradient(141deg, #74e6cf 0%, #c0e594 100%));
  }
}

.it__work__text__about--none {
  @media screen and (max-width: 767px) {
    color: #696969;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    margin-top: 8px;
    margin-bottom: 30px;
  }
}

.it__work__button {
  @media screen and (max-width: 767px) {
    max-width: 288px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background: #01a3a4;
    border: none;

    color: #fff;

    font-family: Bebas Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 280px;
    height: 70px;
    border-radius: 50px;
    background: #01a3a4;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    color: #fff;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: background-color 0.3 ease 0s;
    overflow: hidden;
    position: relative;
  }
  &:hover,
  &:focus {
    color: white;
    transform: scale(0.9, 1.2);
  }
}
