.section__main {
  @media screen and (max-width: 666px) {
    padding: 0.83rem 1.54rem;
    text-align: center;
  }

  background: var(--2, linear-gradient(159deg, #feca57 0%, #e3aa2d 100%));
}

.main__text--h2 {
  @media screen and (max-width: 666px) {
    color: #212121;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 1.33rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.067rem;
    text-transform: uppercase;
  }
}
.main__text--h3 {
  @media screen and (max-width: 666px) {
    color: #fff;
    text-align: center;
    font-family: Galada;
    font-size: 1.08rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.main__button {
  @media screen and (max-width: 666px) {
    max-width: 12rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 2.08rem;
    background: #01a3a4;

    color: #fff;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

.main_list {
  @media screen and (max-width: 666px) {
    display: flex;
    gap: 8px;
  }
}

.main__item {
  @media screen and (max-width: 666px) {
    width: 66px;
    height: 66px;
    display: block;
    background-color: rgb(252, 242, 189, 0.2);
    border-radius: 50%;
  }
}
.container__main__img__first {
  @media screen and (max-width: 666px) {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.main__img {
  @media screen and (max-width: 666px) {
    width: 227px;
  }
}

.line__1 {
  @media screen and (max-width: 666px) {
    position: absolute;
    top: 0;
    left: 22px;
    width: 64px;
    height: 50px;
  }
}

.line__2 {
  @media screen and (max-width: 666px) {
    position: absolute;
    top: -6px;
    left: 123px;
    width: 24px;
    height: 72px;
  }
}

.line__3 {
  @media screen and (max-width: 666px) {
    position: absolute;
    top: -10px;
    left: 188px;
    width: 24px;
    height: 80px;
  }
}

.line__4 {
  @media screen and (max-width: 666px) {
    position: absolute;
    top: -6px;
    left: 222px;
    width: 56px;
    height: 95px;
  }
}
.img__elipse {
  @media screen and (max-width: 666px) {
    position: absolute;
    top: 56px;
    left: 54px;
    width: 32px;
  }
}
