.message {
  @media screen and (max-width: 666px) {
    padding-top: 50px;
    padding-bottom: 14px;
  }
  @media screen and (min-width: 667px) {
    padding: 100px 0;
  }
  background-color: #f0f8f6;
}

.message__text {
  @media screen and (max-width: 666px) {
    color: #01a3a4;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  @media screen and (min-width: 667px) {
    color: #01a3a4;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
}
.message__title {
  @media screen and (max-width: 666px) {
    color: #000;
    text-align: center;
    font-family: Advent Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 10px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 667px) {
    color: #000;
    font-family: Bebas Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
}

.message__list {
  @media screen and (max-width: 666px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
  }
  @media screen and (min-width: 667px) {
    display: none;
  }
}

.message__list__lep {
  @media screen and (max-width: 666px) {
    display: none;
  }

  @media screen and (min-width: 667px) {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 482px;
  }
}

.container__image-flex {
  display: flex;
  width: 1200px;
}
.message__img__lep--center {
  @media screen and (max-width: 666px) {
    display: none;
  }
  @media screen and (min-width: 667px) {
    width: 447px;
  }
}

.list__img__lep--img {
  @media screen and (max-width: 666px) {
    display: none;
  }
}

.message__item {
  @media screen and (max-width: 666px) {
    width: calc((100% - 4px) / 2);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2 * var(--s));
    background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
      linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
    outline: calc(var(--w) / 2) solid #0009;
    outline-offset: calc(var(--w) / -2 - 2 * var(--s));
    transition: 0.4s;
    cursor: pointer;
  }
}

.list__img__lep--img {
  @media screen and (min-width: 667px) {
    margin-left: 3px;
  }
}

.message__item__img {
  @media screen and (max-width: 666px) {
    max-width: 150px;
    width: 100%;
  }
  @media screen and (min-width: 667px) {
    width: 238px;
  }
}

.message__item__list-2 {
  @media screen and (min-width: 667px) {
    margin-bottom: 3px;
  }
}
.message__item__list-2:last-child {
  @media screen and (min-width: 667px) {
    margin-bottom: 0;
  }
}
