.mission {
  @media screen and (max-width: 767px) {
    padding-top: 54px;
    padding-bottom: 30px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    padding: 100px 0;
    padding-bottom: 40px;
  }
  position: relative;
}

.mission__title {
  @media screen and (max-width: 767px) {
    color: #01a3a4;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 10px;
  }

  @media screen and (min-width: 768px) {
    color: #01a3a4;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    margin-left: 58px;
    margin-bottom: 20px;
  }
}
.mission__img__wave {
  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    margin-top: 4px;
  }
}
.mission__text {
  @media screen and (max-width: 767px) {
    color: #000;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    color: #000;
    font-family: Bebas Neue;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    margin-left: 40px;
  }
}

.mission__text__h3 {
  @media screen and (max-width: 767px) {
    text-align: center;
    font-family: Galada;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #88e6c0;
  }
  @media screen and (min-width: 768px) {
    background: var(
      --1,
      linear-gradient(141deg, #74e6cf 13.88%, #c0e594 106.32%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-family: Galada;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-left: 624px;
  }
}

.mission__container__text__ab {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.mission__img {
  @media screen and (max-width: 767px) {
    text-align: center;
    display: inline-block;
  }
  @media screen and (min-width: 768px) {
    width: 124px;
    position: absolute;
    top: 50px;
    left: -105px;
  }
}
