.whots {
  @media screen and (max-width: 666px) {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  background-color: #fff;
}

.whots__title {
  @media screen and (max-width: 666px) {
    margin-bottom: 19px;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Advent Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.whots__img {
  @media screen and (max-width: 666px) {
    margin-bottom: 25px;
    max-width: 290px;
    width: 100%;
  }
}

.whots__text__h3 {
  @media screen and (max-width: 666px) {
    color: #000;
    font-family: Advent Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    margin-bottom: 18px;
    margin-left: 25px;
  }
}

.whots__img__wave {
  @media screen and (max-width: 666px) {
    margin-left: 25px;
    margin-bottom: 20px;
  }
}
.whots__text {
  @media screen and (max-width: 666px) {
    margin-left: 25px;
    color: #696969;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.whots__button {
  @media screen and (max-width: 666px) {
    margin-left: 180px;
    border-radius: 50px;
    background: #f0f8f6;
    width: 112px;
    height: 30px;

    color: #01a3a4;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    padding: 8px 10px;
    padding-right: 5px;
    margin-top: 20px;
  }
}

.whots__button__decors {
  @media screen and (max-width: 666px) {
    background: linear-gradient(297deg, #74e6cf 0%, #c0e594 100%);
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    padding-top: 2px;
    margin-left: 3px;
  }
}

.whots__decors__plus {
  @media screen and (max-width: 666px) {
    fill: #fff;
    width: 6px;
    height: 6px;
  }
}

.whots__decor__line {
  @media screen and (max-width: 666px) {
    margin-top: 55px;
  }
}
