<section class="about" id="about">
 <div class="container">
  <img class="about__img__wave" src="./images/main/it_work/line_2.png" alt="wave">
  <p class="about__text-one">Stay in the know</p>
  <h2 class="about__text--h2">Hear about the latest sneak peaks and spoilers</h2>
  <h3 class="about__text--h3--leptop">get CAUSEBOX delivered directly <span class="about__text--h3-span--leptop">to your
    inbox!</span>
  </h3>
  <div class="about__container--flex">
   <img class="about__img__box" src="./images/main/about/1.png" alt="carton-box">
   <img class="about__img__box--leptop" src="./images/main/about/box__leptop_1x.png"
    srcset="./images/main/about/box__leptop_1x.png 1x, ./images/main/about/box__leptop_2x.png 2x" alt="img__about">
   <h3 class="about__text--h3">get CAUSEBOX delivered directly <span class="about__text--h3-span">to your inbox!</span>
   </h3>
   <div class="about__container--absolut">
    <input class="about__input" type="text" placeholder="Your email address" maxlength="20">
    <button class="about___button" type="submit">Sign up</button>
    <p class="about__text--button">By clicking "sign up" you agree to receive emails from CAUSEBOX and accept our web
     terms of use and privacy and
     cookie
     policy</p>
    <img class="about__img__monsterra" src="./images/main/about/mon.png" alt="monsterra">
   </div>
  </div>
 </div>
</section>