<div class="container">
 <section class="about">
  <img class="about__img__wave" src="./images/main/it_work/line_2.png" alt="wave">
  <p class="about__text-one">Stay in the know</p>
  <h2 class="about__text--h2">Hear about the latest sneak peaks and spoilers</h2>
  <h3 class="about__text--h3">get CAUSEBOX delivered directly <span class="about__text--h3-span">to your inbox!</span>
  </h3>
  <input class="about__input" type="text" placeholder="Your email address">
  <button class="about___button">Sign up</button>
  <p class="about__text--button">By clicking "sign up" you agree to receive emails from CAUSEBOX and accept our web
   terms of use and privacy and
   cookie
   policy</p>
 </section>
</div>git 