<section class="box">
 <div class="container">
  <img class="box__img" src="./images/main/it_work/line_2.png" alt="">
  <h2 class="box__title">BOX OF A MONTH</h2>
  <p class="box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
   labore et dolore magna
   aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
   Duis
   aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
   occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  <div class="box__container__img">
   <img src="./images/main/box/1.png" alt="box-1">
   <img src="./images/main/box/2.png" alt="box-2">
  </div>
  <button class="box__button">See What's Inside</button>
 </div>
</section>