<section class="box" id="box">
 <div class="container">
  <div class="box__container--flex">
   <div class="box__container__flex--colum">
    <img class="box__img" src="./images/main/it_work/line_2.png" alt="vaw">
    <h2 class="box__title">BOX OF A MONTH</h2>
    <p class="box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
     labore et dolore magna
     aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis
     aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
     occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <button class="box__button" type="button" id="modal" data-ripple>See What's Inside</button>
   </div>
   <div class="box__container__img">
    <img class="box__img_1" srcset="./images/main/box/1_1x.jpg 1x, ./images/main/box/1_2x.jpg 2x"
     src="./images/main/box/1.jpg" alt="box-1">
    <img class="box__img_2" srcset="./images/main/box/2_1x.jpg 1x,./images/main/box/2_2x.jpg 2x"
     src="./images/main/box/2.jpg" alt="box-2">
   </div>
  </div>
  <button class="box__button--mob" type="button" data-ripple>See What's Inside</button>
 </div>
</section>