<section class="customers">
 <div class="container">
  <h2 class="customers__title">What do our</h2>
  <h3 class="customers__title__cl">clients say</h3>
  <div class="customers__container--flex">
   <img class="customers__avatars" src="./images/main/customers/1.png" alt="customers">
   <img class="customers__avatars--leptop" src="./images/main/customers/customer-1_leptop_1x.png"
    srcset="./images/main/customers/customer-1_leptop_1x.png 1x, ./images/main/customers/customer-2_leptop_2x.png 2x">
   <div class="container__customers__stars">
    <h4>Jessica T.</h4>
    <img class="container__customers__stars--img" src="./images/main/customers/2.png" alt="stars">
   </div>
  </div>
  <img class="mission__img__wave" src="./images/main/it_work/line_2.png" alt="wave">
  <p class="customers__about">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
   aliqua.
   <br class="customers__about--span"> </br>
   Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
   ipsum
   dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
   enim
   ad minim veniam, quis nostrud. <br>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
   et
   dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
   labore
   et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Sit amet, consectetur adipiscing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
   </span>
  </p>
  <ul class="customers__list__decor">
   <li class="customers__item__decor"><span class="customers__item__decor--span"> <svg
      class="customers__item__decor--svg" width="11" height="11">
      <use href="./images/sprite.svg#icon-arrow-left"></use>
     </svg></span></li>
   <ul class="customers__list__decor">
    <li class="customers__item__decor"><span class="customers__item__decor--span"> <svg
       class="customers__item__decor--svg" width="11" height="11">
       <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg></span></li>
   </ul>
 </div>
</section>