<div class="container">
 <section class="customers">
  <h2 class="customers__title">What do our</h2>
  <h3 class="customers__title__cl">clients say</h3>
  <div class="customers__container--flex">
   <img class="cutomers__avatars" src="./images/main/customers/1.png" alt="customers">
   <div class="container__customers__stars">
    <h4>Jessica T.</h4>
    <img class="container__customers__stars--img" src="./images/main/customers/2.png" alt="stars">
   </div>
  </div>
  <img class="mission__img__wave" src="./images/main/it_work/line_2.png" alt="wave">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
   aliqua.

  </p>
  Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
  dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
  enim
  ad minim veniam, quis nostrud. <br>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
  et
  dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore
  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
  </p>
 </section>
</div>