<section class="customers">
 <div class="container">
  <h2 class="customers__title">What do our</h2>
  <h3 class="customers__title__cl">clients say</h3>
  <div class="customers__container--flex">
   <div class="wraper__img--avatar">
    <img class="customers__avatars" src="./images/main/customers/1.png" alt="customers">
    <img class="customers__avatars--leptop" src="./images/main/customers/customer-1_leptop_1x.png"
     srcset="./images/main/customers/customer-1_leptop_1x.png 1x, ./images/main/customers/customer-2_leptop_2x.png 2x">
   </div>
   <div class="container__customers__stars">
    <h4>Jessica T.</h4>
    <img class="container__customers__stars--img" src="./images/main/customers/2.png" alt="stars">
    <p class="start__text">5/5</p>
    <p class="customer__text__lorem">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
     aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis
     aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>
     <span class="customer__text__lorem--span">
      Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
      ipsum
      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim
      ad minim veniam, quis nostrud
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta totam vel laboriosam aspernatur dolore facere ea
      dolor commodi fuga similique eveniet accusantium consectetur doloribus animi perferendis, hic amet veniam?
      Perspiciatis?
      Obcaecati, ducimus neque in commodi est aliquid suscipit. Laboriosam ipsum dolor eos doloremque voluptatibus
      maiores consequuntur minus ratione labore nisi quam repudiandae, cum explicabo. Nemo eveniet accusamus animi unde
      rerum.
      Illo hic a vel suscipit laudantium doloremque. Iusto numquam quas recusandae consectetur consequatur itaque enim
      autem ex eius impedit dolorum maxime, tempore doloremque? Iusto nemo modi tempora id, error harum.
      Soluta voluptatibus dolore ipsum fuga officia! Nesciunt quidem veritatis omnis deleniti inventore quam nostrum
      quisquam quos quaerat incidunt. Consequuntur nemo harum modi illo maxime! Assumenda, praesentium minima! Qui,
      aliquid odio?
      Suscipit sequi velit sint dignissimos, laudantium provident ipsum perspiciatis minus, sapiente aliquam, incidunt
      odit magni quos magnam beatae vitae consequuntur quasi nemo maiores doloribus. Sint voluptatibus doloribus libero
      vero ad!
      Ipsum ab nulla sit rerum magnam facilis fugiat natus consectetur aliquam sint animi, impedit sapiente nisi quod
      rem reiciendis quo quis asperiores neque placeat facere quaerat quas dicta sequi? Commodi?
      Voluptatum modi ea aperiam vitae corrupti fugit, nihil ipsum, reprehenderit cumque ex quam? Neque illo veniam
      accusantium? Voluptas, culpa excepturi consectetur recusandae ex ea voluptatum cumque est, omnis aliquam
      asperiores!
     </span>
    </p>
   </div>
  </div>
  <img class="mission__img__wave " src="./images/main/it_work/line_2.png" alt="wave">
  <p class="customers__about">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
   aliqua.
   <span class="customers__about--span"> </span>
   Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
   ipsum
   dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
   enim
   ad minim veniam, quis nostrud. <br>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
   et
   dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
   labore
   et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Sit amet, consectetur adipiscing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
   </span>
  </p>
  <ul class="customers__list__decor">
   <li class="customers__item__decor"><span class="customers__item__decor--span"> <svg
      class="customers__item__decor--svg" width="11" height="11">
      <use href="./images/sprite.svg#icon-arrow-left"></use>
     </svg></span></li>
   <li class="customers__item__decor"><span class="customers__item__decor--span"> <svg
      class="customers__item__decor--svg" width="11" height="11">
      <use href="./images/sprite.svg#icon-arrow-right"></use>
     </svg></span></li>
  </ul>
 </div>
</section>