<section class="header">
 <div class="container">
  <img src="./images/logo/Logo.png" alt="logo">
  <div class="wraper">
   <div class="burger__menu">
    <span>
    </span>
   </div>
   <nav class="header__menu">
    <ul class="nav__list">
     <li class="nav__item">
      <a href="" class="header__link">Home</a>

     </li>
     <li class="nav__item">
      <a href="" class="header__link">What's inside</a>

     </li>
     <li class="nav__item">
      <a href="" class="header__link"> kiwi eco box</a>

     </li>
     <li class="nav__item">
      <a href="" class="header__link">about</a>

     </li>
     <li class="nav__item">
      <a href="" class="header__link">account</a>

     </li>
    </ul>
   </nav>
  </div>

 </div>
</section>