<section class="it__work">
 <div class="container">
  <h2 class="it__work__title">How it Works</h2>
  <ul class="it_work__list">
   <li class="it_work__item">
    <img class="it_work__img" src="./images//main/it_work/1.png" alt="">
    <h3 class="it__work__text">Join The Movement</h3>
    <p class="it__work__text__about">Get started by signing up for monthly subscription. We bring you an easy way to
     start your zero-waste journey</p>
    <img class="it__work__img--line" src="./images/main/it_work/line_2.png" alt="">
   </li>
   <li class="it_work__item">
    <img class="it_work__img" src="./images//main/it_work/2.png" alt="">
    <h3 class="it__work__text">Join The Movement</h3>
    <p class="it__work__text__about">Get started by signing up for monthly subscription. We bring you an easy way to
     start your zero-waste journey</p>
    <img class="it__work__img--line" src="./images/main/it_work/line_2.png" alt="">
   </li>
   <li class="it_work__item">
    <img class="it_work__img" src="./images//main/it_work/3.png" alt="">
    <h3 class="it__work__text">Join The Movement</h3>
    <p class="it__work__text__about">Get started by signing up for monthly subscription. We bring you an easy
     way to
     start your zero-waste journey</p>
   </li>
  </ul>
  <button data-ripple id="modal" class="it__work__button" type="button">Get the Box</button>
 </div>
</section>