<main>
 <section class="section__main">
  <div class="container">
   <h2 class="main__text--h2">Everything You Need</h2>
   <h3 class="main__text--h3">to Start Living Zero-Waste</h3>
   <ul class="main_list">
    <li class="main__item">
     <img class="main__item__img" srcset="./images/main/main/3.png 480w, ./images/main/main/3_lep.png 960w"
      src="./images/main/main/3.png" alt="tablet" size="(max-width:666px) 100wv, (min-width:667px) 50wv">
    </li>
    <li class=" main__item">
     <img class="main__item__img"
      srcset="./images/main/main/2.png 480w, ./images/main/main/2_lep.png 960w"="./images/main/main/2.png" alt="leader">
    </li>
    <li class="main__item">
     <img class="main__item__img" srcset="./images/main/main/1.png 320w, ./images/main/main/1_lep.png 960w"
      src="./images/main/main/1.png" alt="bags">
    </li>
    <li class="main__item">
     <img class="main__item__img" srcset="./images/main/main/4.png 480w, ./images/main/main/4_lep.png 960w"
      src="./images/main/main/4.png" alt="box">
    </li>
   </ul>
   <div class="main__wraper__leptop">
    <ul class="main__list__lep">
     <li>
      <img class="main__item__img" srcset="./images/main/main/3.png 480w, ./images/main/main/3_lep.png 960w"
       src="./images/main/main/3.png" alt="tablet" size="(max-width:666px) 100wv, (min-width:667px) 50wv">
     </li>
     <li>
      <img class="main__item__img"
       srcset="./images/main/main/2.png 480w, ./images/main/main/2_lep.png 960w"="./images/main/main/2.png"
       alt="leader">
     </li>
    </ul>
    <div class="container__img__box-center">
     <img srcset="./images/main/main/5.png 640w, ./images/main/main/5_lep.png 960w">
    </div>
    <ul class="main__list--lep--right">
     <li class="main__item">
      <img class="main__item__img" srcset="./images/main/main/1.png 320w, ./images/main/main/1_lep.png 960w"
       src="./images/main/main/1.png" alt="bags">
     </li>
     <li class="main__item">
      <img class="main__item__img" srcset="./images/main/main/4.png 480w, ./images/main/main/4_lep.png 960w"
       src="./images/main/main/4.png" alt="box">
     </li>
    </ul>
   </div>
   <div class="container__main__img__first">
    <img class="main__img" srcset="./images/main/main/5.png 640w, ./images/main/main/5_lep.png 960w"
     src="./images/main/main/5.png" alt="first_photo">
    <img class="line__1" src="./images/main/main/line_1.png" alt="line_1">
    <img class="line__2" src="./images/main/main/line_2.png" alt="line_2">
    <img class="line__3" src="./images/main/main/line_4.png" alt="line_3">
    <img class="line__4" src="./images/main/main/line_3.png" alt="line_4">
    <img class="img__elipse" src="./images/main/main/Ellipse.png" alt="Ellipse">
   </div>
   <button class="main__button" type="button">Start now</button>
  </div>
 </section>

</main>