<main>
 <section class="section__main">
  <div class="container">
   <h2 class="main__text--h2">Everything You Need</h2>
   <h3 class="main__text--h3">to Start Living Zero-Waste</h3>
   <ul class="main_list">
    <li class="main__item">
     <img class="main__item__img" src="./images/main/3.png" alt="">
    </li>
    <li class="main__item">
     <img class="main__item__img" src="./images/main/2.png" alt="">
    </li>
    <li class="main__item">
     <img class="main__item__img" src="./images/main/1.png" alt="">
    </li>
    <li class="main__item">
     <img class="main__item__img" src="./images/main/4.png" alt="">
    </li>
   </ul>
   <div class="container__main__img__first">
    <img class="main__img" src="./images/main/5.png" alt="first_photo">
    <img class="line__1" src="./images/main/line_1.png" alt="line_1">
    <img class="line__2" src="./images/main/line_2.png" alt="line_2">
    <img class="line__3" src="./images/main/line_4.png" alt="line_3">
    <img class="line__4" src="./images/main/line_3.png" alt="line_4">
    <img class="img__elipse" src="./images/main/Ellipse.png" alt="Ellipse">
   </div>
   <button class="main__button" type="button">Start now</button>
  </div>
 </section>

</main>