<main>
 <section class="section__main">
  <div class="container">
   <h2 class="main__text--h2">Everything You Need</h2>
   <h3 class="main__text--h3">to Start Living Zero-Waste</h3>
   <div class="container__main_wraper">
    <img srcset="./images/main/main/main__mobile.png 320w, ./images/main/main/main__leptop.png 640w "
     src="./images/main/main/main__mobile.png" alt="main_box">
   </div>

   <button data-ripple id="modal" class="main__button" type="button">Start now</button>
  </div>
 </section>

</main>