<section class="message">
 <div class="container f-carousel" id="myCarousel">
  <p class="message__text">Join the conversation an help us create a new world!</p>
  <h2 class="message__title">Recent Posts</h2>
  <ul class="message__list">
   <li class="message__item "><img class="message__item__img" src="./images/main/message/1.jpg" alt="message_1"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/2.jpg" alt="message_2"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/3.jpg" alt="message_3"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/4.jpg" alt="message_4"></li>
  </ul>
  <div class="container__image-flex pswp-gallery" id="my-gallery">
   <div class="message__list__lep">
    <div id="my-gallery" class="message__item pswp-gallery"><a data-pswp-width="800" data-pswp-height="860"
      target="_blank" class="popap-link" href="./images/main/popap/1.jpg"><img class="message__item__img"
       src="./images/main/message/1.jpg" alt="message_2"></a>
    </div>
    <div class="message__item pswp-gallery" id="my-gallery"><a data-pswp-width="800" data-pswp-height="860"
      target="_blank" class="popap-link" href="./images/main/popap/2.jpg"><img class="message__item__img"
       src="./images/main/message/2.jpg" alt="message_2"></a>
    </div>
    <div class="message__item pswp-gallery" id="my-gallery"><a data-pswp-width="800" data-pswp-height="860"
      target="_blank" class="popap-link" href="./images/main/popap/3.jpg"><img class="message__item__img"
       src="./images/main/message/3.jpg" alt="message_3"></a>
    </div>
    <div class="message__item pswp-gallery" id="my-gallery"><a data-pswp-width="800" data-pswp-height="860"
      target="_blank" class="popap-link" href="./images/main/popap/4.jpg"><img class="message__item__img"
       src="./images/main/message/4.jpg" alt="message_4"></a>
    </div>
   </div>
   <div id="my-gallery" class="pswp-gallery">
    <a href="./images/main/message/5.jpg" data-pswp-width="800" data-pswp-height="860" target="_blank"><img
      class="message__img__lep--center" src="./images/main/message/5.jpg" alt=""></a>
   </div>
   <div class="list__img__lep--img">
    <div class="message__item__list-2 pswp-gallery" id="my-gallery"><a data-pswp-width="800" data-pswp-height="860"
      target="_blank" class="popap-link" href="./images/main/popap/6.jpg"><img class="message__item__img"
       src="./images/main/message/6.jpg" alt="message_6"></a>
    </div>
    <div class="essage__item__list-2 pswp-gallery" id="gallery"><a data-pswp-width="800" data-pswp-height="860"
      target="_blank" class="popap-link" href="./images/main/popap/7.jpg"><img class="message__item__img"
       src="./images/main/message/7.jpg" alt="message_7"></a>
    </div>
   </div>
  </div>
 </div>
</section>