<section class="message">
 <div class="container f-carousel" id="myCarousel">
  <p class="message__text">Join the conversation an help us create a new world!</p>
  <h2 class="message__title">Recent Posts</h2>
  <ul class="message__list">
   <li class="message__item "><img class="message__item__img" src="./images/main/message/1.jpg" alt="message_1"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/2.jpg" alt="message_2"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/3.jpg" alt="message_3"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/4.jpg" alt="message_4"></li>
  </ul>

  <!-- <div class="container__image-flex" id="my-galler"> -->
  <!-- <ul class="message__list__lep">
    <li class="message__item"><a class="popap-link" href="./images/main/popap/1.jpg"><img class="message__item__img"
       src="./images/main/message/1.jpg" alt="message_2"></a></li>
    <li class="message__item"><a class="popap-link" href="./images/main/popap/2.jpg"><img class="message__item__img"
       src="./images/main/message/2.jpg" alt="message_2"></a></li>
    <li class="message__item"><a class="popap-link" href="./images/main/popap/3.jpg"><img class="message__item__img"
       src="./images/main/message/3.jpg" alt="message_3"></a></li>
    <li class="message__item"><a class="popap-link" href="./images/main/popap/4.jpg"><img class="message__item__img"
       src="./images/main/message/4.jpg" alt="message_4"></a></li>
   </ul>
   <a href="./images/main/message/5.jpg"><img class="message__img__lep--center" src="./images/main/message/5.jpg"
     alt=""></a>

   <ul class="list__img__lep--img">
    <li class="message__item__list-2"><a class="popap-link" href="./images/main/popap/6.jpg"><img
       class="message__item__img" src="./images/main/message/6.jpg" alt="message_6"></a>
    </li>
    <li class="essage__item__list-2"><a class="popap-link" href="./images/main/popap/7.jpg"><img
       class="message__item__img" src="./images/main/message/7.jpg" alt="message_7"></a>
    </li>
   </ul> -->
  <div class="pswp-gallery" id="my-gallery">
   <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/1/img-2500.jpg" data-pswp-width="1875"
    data-pswp-height="2500" target="_blank">
    <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/1/img-200.jpg" alt="" />
   </a>
   <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg" data-pswp-width="1669"
    data-pswp-height="2500" target="_blank">
    <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg" alt="" />
   </a>
   <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg" data-pswp-width="2500"
    data-pswp-height="1666" target="_blank">
    <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-200.jpg" alt="" />
   </a>
  </div>
 </div>
 </div>
</section>