<section class="message">
 <div class="container">
  <p class="message__text">Join the conversation an help us create a new world!</p>
  <h2 class="message__title">Recent Posts</h2>
  <ul class="message__list">
   <li class="message__item"><img class="message__item__img" src="./images/main/message/1.jpg" alt="message_1"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/2.jpg" alt="message_2"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/3.jpg" alt="message_3"></li>
   <li class="message__item"><img class="message__item__img" src="./images/main/message/4.jpg" alt="message_4"></li>
  </ul>
 </div>
</section>