<div class="wraper display-nan">
 <div class="wraper__modal">
  <div class="wraper__modal__container__img">
   <img class="wraper__modal__container__imgages"
    srcset="./images/main/modal/modal__mobile.jpg 100w,./images/main/modal/modal__img_1x.jpg 300w,./images/main/modal/modal__img_2x.jpg 400w "
    src="./images/main/modal/modal__mobile.jpg" alt="modal__img"
    sizes="(max-width:767px) 100w, (min-width:768px) 300w, (min-width:1024px) 400w">
  </div>
  <div class="modal__text--right">
   <p id="close" class="button__close">&#x292C</p>
   <h2 class="modal__text--right__title">Thank you for <span class="modal__text--right-span">subscribing!</span></h2>
   <p class="modal__about__text">Now you will receive alerts when new news and boxes are released!</p>
   <button class="modal__button" type="button" id="close" data-ripple>good</button>
  </div>
 </div>
</div>