<section class="whots" id="whots">
 <div class="container">
  <h2 class="whots__title">What's new in blog?</h2>
  <img class="whots__img" src="./images/main/whots/1.jpg" alt="img_box__whots">
  <h3 class="whots__text__h3">Why KIWI Eco Box?</h3>
  <img class="whots__img__wave" src="./images/main/it_work/line_2.png" alt="wave">
  <p class="whots__text">Get started by signing up for monthly subscription. We bring you an easy way to start your
   zero-waste journey</p>
  <button class="whots__button">Read more <div class="whots__button__decors"><svg class="whots__decors__plus">
     <use href="./images/sprite.svg#plus"></use>
    </svg>
   </div></button>
  <img class="whots__decor__line" src="./images/main/whots/2.jpg" alt="decor__line">
 </div>
</section>