<section class="whats" id="whots">
 <div class="container container--decor--line">
  <h2 class="whats__title">What's new in blog?</h2>
  <div class="whats__container--mobile">
   <img class="whats__img" src="./images/main/whots/1.jpg" alt="img_box__whats">
   <h3 class="whats__text__h3">Why KIWI Eco Box?</h3>
   <img class="whats__img__wave" src="./images/main/it_work/line_2.png" alt="wave">
   <p class="whats__text">Get started by signing up for monthly subscription. We bring you an easy way to start your
    zero-waste journey</p>
   <button class="whats__button">Read more <div class="whats__button__decors"><svg class="whats__decors__plus">
      <use href="./images/sprite.svg#plus"></use>
     </svg>
    </div></button>
   <img class="whats__decor__line" src="./images/main/whots/2.jpg" alt="decor__line">
  </div>
  <div class="whats__container--leptop">
   <ul class="whats__list__img--leptop">
    <li class="whats__item__img--leptop">
     <img class="whats__img--leptop" src="./images/main/whots/leptop/1_1x.jpg"
      srcset="./images/main/whots/leptop/1_2x.jpg 2x" alt="">
     <div class="container__item--img--leptop--whats">
      <h2 class="whats__list__title--leptop">Why KIWI Eco Box?</h2>
      <img class="whats__img--leptop-wave" src="./images/main/it_work/line_2.png" alt="">
      <p class="whats__text--leptop">Get started by signing up for monthly subscription. We bring you an easy way to
       start your zero-waste journey
      </p>
     </div>
     <button class="whats__button--leptop">read more</button>
    </li>
    <li class="whats__item__img--leptop">
     <img class="whats__img--leptop" src="./images/main/whots/leptop/2_1x.jpg"
      srcset="./images/main/whots/leptop/2_2x.jpg 2x" alt="">
     <div class="container__item--img--leptop--whats">
      <h2 class="whats__list__title--leptop">What Is Inside The April Kiwi Eco Box? Portable Lunch Box</h2>
      <img class="whats__img--leptop-wave" src="./images/main/it_work/line_2.png" alt="">
      <p class="whats__text--leptop">Every month receive your box with essential products, but plastic free and safe for
       the environment
      </p>
     </div>
     <button class="whats__button--leptop">read more</button>
    </li>
    <li class="whats__item__img--leptop">
     <img class="whats__img--leptop" src="./images/main/whots/leptop/3_1x.jpg"
      srcset="./images/main/whots/leptop/3_2x.jpg 2x" alt="">
     <div class="container__item--img--leptop--whats">
      <h2 class="whats__list__title--leptop">Make a Difference</h2>
      <img class="whats__img--leptop-wave" src="./images/main/it_work/line_2.png" alt="">
      <p class="whats__text--leptop">Small steps can lead to bigger changes, and now you are the change. Let's build
       community of people who care
      </p>
     </div>
     <button class="whats__button--leptop">read more</button>
    </li>
   </ul>
  </div>
 </div>
</section>